./node_modules
/node_modules
node_modules
# Keep environment variables out of version control
.env

./src/**/*.json
src/api/utils/servicekey.json
./src/api/utils/servicekey.json

./credentials.json
credentials.json
*.json